* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

 :root {
    --bg-color1: rgb(134, 191, 226);
    --bg-color2: rgb(112, 126, 227);
    --readme-a: rgb(43, 138, 62);
    --readme-a-hover: rgb(30, 122, 95);
    --font-color: rgb(48, 49, 53);
    --font-hover-color: rgb(170, 170, 170);
    --font-error-color: rgb(255, 0, 0);
    --heading-color: rgb(50, 50, 50);
    --shadow-color: rgba(0, 0, 0, .2);
    --burger: rgb(0, 0, 0);
    --inputs-button-color: rgba(216, 223, 224, 0.5);
    --bg-form: rgba(255, 255, 255, 0.4);
    --bg-head-table: rgba(255, 255, 255, 0.4);
    --bg-table: rgba(255, 255, 255, 0.3);
    --bg-table2: rgba(255, 255, 255, 0.4);
    --bg-navbar-footer: rgb(255, 255, 255);
    font-family: 'Josefin Slab', serif;
}

html {
    background: linear-gradient(90deg, var(--bg-color1) 0%, var(--bg-color2) 100%);
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.5rem;
    font-weight: 500;
    color: var(--heading-color);
}

.title h1 {
    margin-top: 45vh;
    height: 70vh;
}

h2 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: var(--font-color);
}

.simulation h2,
.historique h2,
.historique-backend h2,
.logs h2,
.content h2 {
    font-size: 2rem;
    line-height: 3rem;
}

.hidden {
    color: transparent;
    opacity: 0;
}


/************************************************
********************README***********************
************************************************/

.content h2 {
    margin-top: 5%;
    margin-bottom: 2%;
}

.content h3 {
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 10%;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--font-color);
}

.content h4 {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 12%;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--font-color);
}

.content p {
    text-align: justify;
    font-size: 1.2rem;
    margin-left: 8%;
    margin-right: 8%;
}

.content a {
    color: var(--readme-a);
}

.content a:hover {
    text-decoration: underline;
    color: var(--readme-a-hover);
}

.schema {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border-radius: 15px;
    box-shadow: 20px 20px 40px -6px var(--shadow-color);
}


/************************************************
********************HEADER***********************
************************************************/

.header {
    background: var(--bg-navbar-footer);
}

.header li {
    list-style: none;
}

.header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 1000;
    color: var(--font-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--burger);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1rem;
    font-weight: 400;
    color: var(--font-color);
}

.nav-link:hover {
    color: var(--font-hover-color);
}

.nav-logo {
    margin-top: 5px;
}


/************************************************
********************GRIDBAG**********************
************************************************/

.gridbag {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-areas: "simulation historique";
}

.simulation {
    margin-left: 5%;
    margin-right: 2%;
    grid-column: 1;
    grid-row: 1;
    grid-area: simulation;
}

.historique {
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2;
    grid-row: 1;
    grid-area: historique;
}


/************************************************
****************CONNEXION-FORM*******************
************************************************/

.connexion-title {
    margin-top: 30%;
}

.page-connexion {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.footer-connexion {
    position: absolute;
    width: 100%;
    margin-top: 2%;
}

.message-error {
    color: var(--font-error-color);
}


/************************************************
**********************LOGS***********************
************************************************/

.logs,
.historique-backend {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.historique-backend {
    margin-top: 100px;
}

.backend,
.terminal {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.terminal {
    border-radius: 20px;
    background: var(--bg-table);
    color: var(--font-color);
    font-size: 20px;
    box-shadow: 20px 20px 40px -6px var(--shadow-color);
}

.terminal-scrollbar {
    height: 400px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow-y: auto;
    scrollbar-color: var(--bg-form) transparent;
}

.terminal-scrollbar p {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
}

.buttons {
    display: flex;
    text-align: center;
    padding: 2% 0% 2% 0%;
    margin-left: 10%;
    margin-right: 10%;
}

.buttons a {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.4rem;
    text-decoration: none;
    background: var(--bg-form);
    border-radius: 50px;
    box-shadow: 20px 20px 40px -6px var(--shadow-color);
    color: var(--heading-color);
}

.buttons a:hover {
    background: var(--inputs-button-color);
}


/************************************************
*************FORMULAIRE SIMULATION***************
************************************************/

.form {
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.resultat-simulation {
    font-weight: bold;
}

.form,
.container {
    height: 100%;
    width: 100%;
}

.form .container {
    position: relative;
}

.form form {
    background: var(--bg-form);
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 20px;
    border-left: 1px solid var(--bg-form);
    border-top: 1px solid var(--bg-form);
    box-shadow: 20px 20px 40px -6px var(--shadow-color);
    text-align: center;
}

.form .form-connexion form {
    padding-bottom: 1rem;
}

.form .form-simulation form {
    margin-bottom: 1rem;
}

.form h2 {
    color: var(--heading-color);
    opacity: .7;
    font-size: 1.4rem;
    margin-bottom: 60px;
}

.form input {
    background: transparent;
    border: none;
    border-left: 1px solid var(--bg-table);
    border-top: 1px solid var(--bg-table);
    padding: 1rem;
    width: 200px;
    border-radius: 50px;
    box-shadow: 20px 20px 40px -6px var(--shadow-color);
    color: var(--heading-color);
    transition: all .3s;
    margin-bottom: 2em;
    font-family: 'Josefin Slab', serif;
}

.inputs-button input:hover {
    border: none;
    border-left: 1px solid var(--bg-table);
    border-top: 1px solid var(--bg-table);
    border-radius: 50px;
    box-shadow: 20px 20px 40px -6px var(--shadow-color);
    background: var(--inputs-button-color);
}

.form table {
    margin: auto;
    table-layout: fixed;
}

.td_labels {
    text-align: center;
    width: 200px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.td_inputs {
    width: 200px;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}


/* Chrome */

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Opéra*/

input::-o-inner-spin-button,
input::-o-outer-spin-button {
    -o-appearance: none;
    margin: 0;
}


/************************************************
*************TABLEAU HISTORIQUE******************
************************************************/

.content-table {
    display: flex;
    margin-top: 1%;
}

.content-table table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 20px 20px 40px -6px var(--shadow-color);
    border-radius: 20px;
}

.content-table th {
    font-size: 18px;
    text-align: center;
    background-color: var(--bg-head-table);
    padding: 14px 14px 20px 20px;
}

.content-table td {
    padding: 8px 8px 8px 20px;
}

.content-table .ligne-impair td {
    background-color: var(--bg-table);
}

.content-table .ligne-pair td {
    background-color: var(--bg-table2);
}

.content-table th:first-child {
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
}

.content-table th:last-child {
    -webkit-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
}

.content-table tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.content-table tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


/************************************************
*****************RESPONSIVE**********************
************************************************/

@media only screen and (max-width: 1000px) {
    .gridbag {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-areas: "simulation" "historique";
    }
    .simulation {
        margin-right: 5%;
    }
    .historique {
        margin-left: 5%;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: var(--bg-navbar-footer);
        width: 100%;
        text-align: center;
        transition: 0.2s;
        box-shadow: 20px 20px 40px -6px var(--shadow-color);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}


/************************************************
********************FOOTER***********************
************************************************/

footer {
    padding: 40px 0;
    background-color: var(--bg-navbar-footer);
    margin-top: 5%;
}

footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--heading-color);
}

footer .social a {
    font-size: 24px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

footer .social a:hover {
    opacity: 0.9;
    color: var(--font-hover-color);
}

footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

footer ul li {
    display: inline-block;
    padding: 0 15px;
}

footer ul li a:hover {
    opacity: 1;
}

footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: var(--font-hover-color);
}